name: UpdatePost
on:
  repository_dispatch:
    types: [update_post]
env:
  MICROCMS_ACCESS_KEY: ${{secrets.MICROCMS_ACCESS_KEY}}
  MICROCMS_WHITE_ACCESS_KEY: ${{secrets.MICROCMS_WHITE_ACCESS_KEY}}
  MICROCMS_BASEURL: ${{secrets.MICROCMS_BASEURL}}
  AWS_ACM: ${{secrets.AWS_ACM}}
  AWS_S3_NAME: ${{secrets.AWS_S3_NAME}}
  AWS_LAMBDA_NAME: ${{secrets.AWS_LAMBDA_NAME}}
  AWS_CLOUDFRONT_NAME: ${{secrets.AWS_CLOUDFRONT_NAME}}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - run: yarn install
    - run: yarn run deploy:prod